@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
  perspective: 1000px;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
  overflow: hidden;
}

.flip-card-inner.spinning {
  animation: spin 0.6s ease-in-out;
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
